html, body {
  font-size: 19px;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

a {
  color: #69C801;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hello {
  letter-spacing: 2px;
  text-align: center;
  padding: 50px 20px;
}

.photo {
  max-height: 150px;
  width: auto;
  border-radius: 100%;
}

.title {
  margin: 20xp 0 0;
  font-size: 30px;
  font-weight: normal;
}

.description {
  color: #A3A3A3;
  margin: 15px 0 0;
  font-weight: 500;
}

.sidario {
  color: #BBB;
  font-size: .85rem;
  text-align: center
}

.sidario a {
  color: #BBB;
  text-decoration: underline;
}

.sidario a:hover {
  text-decoration: none;
}

.photo {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -webkit-transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.photo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}


@media screen and (min-width: 500px) {
  .text-container {
    text-align: left;
    width: 435px;
  }

  .title {
    font-size: 40px;
    margin: 0;
  }

  .row {
    font-size: 0;
  }

  .row > * {
    font-size: 19px;
  }

  .row .col {
    display: inline-block;
    vertical-align: middle;
  }

  .row .col:first-of-type {
    margin-right: 20px;
  }

  .center {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    transform: translateY(-50%)
  }

  .socials {
    position: absolute;
    bottom: 0;
    right: 20px;
  }

  .sidario {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
}

.socials {
  text-align: center;
  padding: 0 0 20px 0;
}



.socials a {
  text-decoration: none;
}

.socials a {
  margin: 0 10px;
}

.socials a:first-of-type {
  margin-left: 0;
}

.socials a:last-of-type {
  margin-right: 0;
}

.socials a img {
  opacity: 0.6;
  width: 36px;
  height: 36px;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.socials a:hover img {
  opacity: 1;
}

/* for typed */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
